.App{
    background-image: url('/src/images/Group.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.enter{
    width: 30%;
}
.enter:hover{
    background-color: white !important;
    color:#3D3BFF !important;
    transition: 0.6s ease-in-out !important;
}